table.TestResults {
	border: 2px solid #DDDDDD;
	font-size: 10pt;
	width: 100%;
	padding: 0px;
}


table.TestResults tr,
table.TestResults tr td,
table.TestResults tr th  {
	padding: 0;
	margin: 0;
	background: white;
}

table.TestResults tr td,
table.TestResults tr th {
	padding: 10px;
	border: 0px;
}

table.TestResults tr td.test-unit {
	background: #FDFCD5; 
}

table.TestResults tr.test-running td.test-id {
	background: #ecbe35;
	text-align: left;
}

table.TestResults tr.test-succeeded td.test-id {
	background: #C7E744;
	text-align: left;
}

table.TestResults tr.test-failed td {
	border: 2px solid #E75744;
}

table.TestResults tr.test-failed td.test-id {
	background: #E75744;
	text-align: center;
	color: white;
}

table.TestResults td.test-unit-summary,
table.TestResults td.test-case-summary
{
	text-align: right;
	font-size: 0.85em;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #AAAAAA;
}


.TestResults ul.assertions {
	list-style-type: square;
	font-size: 0.9em;
	color: #AAAAAA;
}

.TestResults assertion-failed {
	color: red;
}

.test-unit {
	font-weight: bold;
	font-size: 1.2em;
}

.test-case {
	background: #FDFCD5;
	padding: 10pt;
	margin-bottom: 2px;
}

.test-case .name {
	font-weight: bold;
}

.test-failed {
    background: #996611;
    color: #f65b06;
}

li.test-failed {
    list-style-image: url("../images/icon-failure.png");
}

.test-suceeded {
    color: #32d071;
}

li.test-succeeded {
    list-style-image: url("../images/icon-success.png");
}

.test-status {
	color: #AAAAAA;
	font: 0.8em monospace;
	padding-left: 0.5em;
}

.exception-message {
	padding-left: 18px;
	background: url(../images/icon-failure.png) no-repeat left center;
	cursor: pointer;
}

table.exception-stack {
	border: 0px;
	padding: 0px;
	margin: 15px;
	width: 100%;
}

table.exception-stack tr td {
	padding: 2px 15px 2px 15px !important;
	margin: 0px  !important;
	border: 0px  !important;
	font-size: 10px !important;
}

table.exception-stack tr td.exception-file,
table.exception-stack tr td.exception-line {
	font-family: Helvetica,Arial,sans-serif;
	color: #aaaaaa;
}

.empty {
	display: none;
}

